@model TallerMecanicoCApp.Models.Vehiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadPasajeros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadPasajeros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cilindrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cilindrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mecanico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mecanico.MecanicoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VehiculoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
